<%= form_for(@balert) do |f| %>
  <% if @balert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@balert.errors.count, "error") %> prohibited this balert from being saved:</h2>

      <ul>
      <% @balert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :user_email %><br />
    <%= f.text_field :user_email %>
  </div>
  <div class="field">
    <%= f.label :friend_name %><br />
    <%= f.text_field :friend_name %>
  </div>
  <div class="field">
    <%= f.label :friend_email %><br />
    <%= f.text_field :friend_email %>
  </div>
  <div class="field">
    <%= f.label :friend_dob %><br />
    <%= f.date_select :friend_dob, :start_year => 1950 %>
  </div>
  <div class="field">
    <%= f.label :friend_marriage_anni_date %><br />
    <%= f.date_select :friend_marriage_anni_date, :start_year => 1950 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
