<h1>Listing balerts</h1>

<table>
  <tr>
    <th>User name</th>
    <th>User email</th>
    <th>Friend name</th>
    <th>Friend email</th>
    <th>Friend dob</th>
    <th>Friend marriage anni date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @balerts.each do |balert| %>
  <tr>
    <td><%= balert.user_name %></td>
    <td><%= balert.user_email %></td>
    <td><%= balert.friend_name %></td>
    <td><%= balert.friend_email %></td>
    <td><%= balert.friend_dob %></td>
    <td><%= balert.friend_marriage_anni_date %></td>
    <td><%= link_to 'Show', balert %></td>
    <td><%= link_to 'Edit', edit_balert_path(balert) %></td>
    <td><%= link_to 'Destroy', balert, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Balert', new_balert_path %>
