<p id="notice"><%= notice %></p>

<p>
  <b>User name:</b>
  <%= @balert.user_name %>
</p>

<p>
  <b>User email:</b>
  <%= @balert.user_email %>
</p>

<p>
  <b>Friend name:</b>
  <%= @balert.friend_name %>
</p>

<p>
  <b>Friend email:</b>
  <%= @balert.friend_email %>
</p>

<p>
  <b>Friend dob:</b>
  <%= @balert.friend_dob %>
</p>

<p>
  <b>Friend marriage anni date:</b>
  <%= @balert.friend_marriage_anni_date %>
</p>


<%= link_to 'Edit', edit_balert_path(@balert) %> |
<%= link_to 'Back', balerts_path %>
